
<%- include("header") -%>
<h2>This is the about page</h2>

<p>lots of lots of lotslots of lots of lotslots of lots of lotslots of lots of lots
    lots of lots of lotslots of lots of lots
    lots of lots of lots

    lots of lots of lotslots of lots of lots
    lots of lots of lotslots of lots of lots
</p>

<%- include("footer") -%>